<footer class="container ">
	<p class="float-end "><a href="# ">Back to top</a></p>
	<p>&copy; 2021–2021 Super Store, Inc.
		<!-- <a href="# ">&middot; Privacy</a> &middot; <a href="# ">Terms</a> -->
	</p>
</footer>
