<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Online Store</title>


    <!-- Bootstrap core CSS -->
    <link href="./assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./assets/dist/css/carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/custom-css/index.css">
    <link rel="stylesheet" href="./assets/dist/css/sidebars.css">
</head>

